body {
	font-family: sans-serif;
}

.form-container {
	display: flex;
	justify-content: space-evenly;
}
.form {
	display: flex;
	flex-wrap: wrap;
	background: gray;
	flex-basis: 50%;
	box-shadow: 0 0 2px 1px rgb(0, 0, 0);
	margin: 20 px 0;
	padding: 10px;
}

.form__title{}
.form__input{}
.form__button{}